body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box!important;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    width: 100%;
    min-height: 80px;
    
}

.topHeader {
    width: 100%;
    background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
    position: fixed;
    top: 0;
    left: 0;  
    z-index: 5;
}

.header .row {
    align-items: center;
}

.logo__text {
    font-size: 36px;
    color: #fff;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav__link {
    font-size: 17px;
    color: #fff;
}

.nav__link:hover {
    color: #10EBF8;
}

.nav__link_btn {
    display: inline-block;
    background: rgba(11, 34, 75, 0.4);
    border: 1px solid #10EBF8;
    color: #10EBF8;
    padding: 8px 25px;
}

.nav__link_btn:hover {
   color: #fff;
   background-color: #10EBF8;
}


.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    margin-bottom: 8px;
}

.wrapperSlider {
    min-height: 100%;
}
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide--1 {
    background: url('../img/slide1.jpg') center / cover no-repeat;
}
.swiper-slide--2 {
    background: url('../img/slide2.jpg') center / cover no-repeat;
}

.swiper-slide {
    display: flex;
    align-items: center;
    color: #fff;
}

.slideTitle {
    width: 650px;
    font-size: 58px;
    font-weight: 700;
}

.slideText {
    font-size: 16px;
    margin-bottom: 45px;
}

.slideBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65;
    background-color: #10EBF8;
    border: 1px solid #10EBF8;
    font-size: 15px;
    font-weight: 900;
    color: #191919;
    text-decoration: none;
    border-radius: 2px;
    padding: 25px 0;
}

.slideBtn:hover {
    background: rgba(11, 34, 75, 0.4);
    border: 1px solid #10EBF8;
    color: #10EBF8;
}

:root {
    --prev: .swiper-button-prev;
    --next: .swiper-button-next;
}
.swiper-button-prev {
    top: 47.5%;
    left: 97%;
    transform:translate(-97%, -47.5%);

}

.swiper-button-next {
    top: 54.5%;
    left: 97%;
    transform:translate(-97%, -54.5%);
}

.swiper-button-next,
.swiper-button-prev {
    padding: 20px 30px;
    background-color: #08183599; 
}

.swiper-button-next {
    border-radius: 0 0 50% 50%;
}

.swiper-button-prev {
    border-radius: 50% 50% 0 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    transform: rotate(90deg);
    font-size: 18px;    
    color: #fff;
    padding: 20px 10px;
}

/* .swiper-button-disabled-prev::after {
    opacity: 1;
    border: 1px solid #10EBF8;
    border-radius: 50% 0 0 50%; 

}*/

.wrapperS__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapperS__item > img {
   max-width: 100%;
   margin-bottom: 25px;
}

.wrapperS__link {
    display: block;
    width: 200px;
    font-size: 24px;
    text-decoration: none;
    color: #191919;
    position: relative;
}

.wrapperS__link::after {
    display: inline-block;
    content: '';
    width: 50px;
    height: 150px;
    background: url('../img/icons/s2_1.svg') center / contain no-repeat;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-10%, -50%);
}

.nav__list .nav__item {
    display: block;
}

.burger {
    cursor: pointer;
}

.main {
    padding-top: 20px;
}

.healthyWater .row {
    max-width: 100%;
    height: 490px;
    background: url('../img/s3_b.jpg') 50% / cover no-repeat;
}

.healthyWater__item_bg  {
    max-width: 100%;
    height: 490px;
    background: url('../img/s3_br.jpg') 50% / cover no-repeat;
}

.healthyWater__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0 70px;
}

.sectTitle {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 35px;
}

.healthyWater__wrapperText {
    display: flex;
    align-items: flex-start;
}
.healthyWater__wrapperText img {
    margin-right: 20px;
}

.sectTextOpac {
    max-width: 320px;
    font-size: 16px;
}

.healthyWater__price {
    font-size: 30px;
    font-weight: 500;
}
.healthyWater__price > span {
    font-weight: 700;
    font-size: 48px;
}

.productionProcess > .productionProcess__back .row:first-child{
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background: url('../img/s4_b.png') 40% 60% / contain no-repeat;
}
.productionProcess__back {
    background-color: #E8F2FF;
}
.productionProcess_l {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.productionProcess_r {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.productionProcess__item {
    max-width: 100%;
    display: flex;
}

.productionProcess__item img {
    max-width: 70px;
    margin-right: 20px;
}

.productionProcess__text {
    font-size: 14px;
    color: #191919;
}

.productionProcess__pros {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.productionProcess__pros > .row > div{
    display: flex;
    flex-direction: column;
}

.productionProcess__pros > .row > div img {
    max-width: 150px;
    max-height: 200px;
    flex: 1 0 auto;
    margin: 0 auto;
}

.productionProcess__pros > .row {
    justify-content: space-between;
    text-align: center;
}

.productionProcess__title {
    font-weight: 700;
    font-size: 48px;
    color: #191919;
    margin-bottom: 50px;
}

@media (max-width:768px){
    .productionProcess__title {
        font-size: 24px;
    }
}

.productionProcess__subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #044988;
    margin-bottom: 40px;
}

.productionProcess__text {
    max-width: 250px;
    font-size: 12px;
    color:#585858;
    margin: 20px auto;
    flex: 0 1 auto;
}

.bottledWater {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background: url("../img/s6_b.jpg") 50% 50% / cover no-repeat;
}

.bottledWater__text {
    font-size: 16px;
    max-width: 100%;
}

.bottledWater__mainText {
    font-size: 20px;
}

.bottledWater__btn {
    width: 250px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waterDelivery {
    padding: 50px 0;
    
}

.waterDelivery__content {
    justify-content: center;
}

.waterDelivery__content > div {
    text-align: center;
}

.waterDelivery__img {
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}

.waterDelivery__title {
    padding-top: 10px;
    font-weight: 800;
    font-size: 18px;
    color: #191919;
    margin-bottom: 25px;
}

.waterDelivery__text {
    font-size: 16px;
    color: #585858;
    text-align: center;
}

.features {
    padding: 50px 0;
    background: url("../img/s8_b.jpg") center / cover no-repeat;
}

.features__img {
    max-width: 100%;
}

.features__item {
    color: #fff;
}

.footer {
    position: relative;
    padding-top: 50px;
    background: url("../img/f_b.jpg") center / cover no-repeat;
}

.footer__top {
    
}

.footer ul {
    list-style: none;
}


.footer ul li {
    color: #fff;
    margin-bottom: 10px;
}

.footer__nav .nav__list{
    align-items: flex-start;
    justify-content: space-between;
}

.footer__title {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 253, 253, 0.75);
}


.nav__item_contact,
.nav__item_contact ul{
    margin: 0;
    padding: 0;
}
.footer > .container-fluid {
    background: #142E59;
}
.footer__bottom {
    height: 60px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.24);
    font-size: 14px;
}

.footer__bottom div {
    margin-right: 20px;
}

.footerB__link {
    margin: 0 10px;
}

/*activeBurger*/

.activeBurger {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(92, 90, 90);
}

.activeBurger > .burger {
    margin-top: 20px;
    align-self: flex-start;
}

.activeBurger__wrapper {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    transform: translate(45%, -50%);
}


.activeBurger a {
    color: black;
}